.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
.pnpm-store/
.npm
.yarn

dist/
build/
.next/
out/

.docker/data
.docker/data

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
